brotli==1.0.9
ConfigParser==5.0.2
Cython==0.29.24
Django==3.2.8
django_rest_knox==4.1.0
djangorestframework==3.12.4
dl==0.1.0
docutils==0.18
HTMLParser==0.0.2
importlib_metadata==4.8.1
keyring==18.0.1
knox==0.1.1
lockfile==0.12.2
lxml==4.6.3
numpy==1.21.3
ordereddict==1.1
protobuf==3.19.1
pyOpenSSL==21.0.0
toml==0.10.2
tornado==6.1
gunicorn==20.1.0
